<h1>About Us</h1>
<p>Pinteresting is a web application build using the Ruby on Rails framework. Prior to this class I had never built a working application, but had some experience with HTML and CSS. Using www.onemonth.com, I have successfully started building this application. Check back here for new releases as the product will be changing a lot and follow me at www.github.com/tropchan.</p>