<div class="jumbotron center">
	<h1>Welcome to my first app!</h1>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-large" %> 
		<%= link_to "Sign up", "#", class: "btn btn-primary btn-large" %> 
	</p>
</div>


