<div class="jumbotron center">
	<h1>Welcome to my first app!</h1>
	<% if user_signed_in? %>
		Welcome to Pinteresting, a place to share photos of things you care about.
	<% else %>
		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-large" %> 
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %> 
		</p>
<% end %>
</div>


